<div class="container">
    <ul class="nav nav-tabs">
      <li class="active"><a href="<%= edit_company_url(@company.domain) %>">基本信息</a></li>
      <li><a href="theme">界面主题</a></li>
    </ul>

  <%= form_for @company do |f| %>
      <% if @company.errors.any? %>
          <div>
            <ul class="unstyled well-small alert-error">
              <% for message in @comany.errors.full_messages %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <input type="hidden" name="domain" value="<%= @company.domain %>">

      <div class="control-group">
        <%= f.label :name, '公司名', :class => "control-label" %>
        <div class="controls"><%= f.text_field :name %></div>
      </div>

      <div class="control-group">
        <%= f.label :address, '地址', :class => "control-label" %>
        <div class="controls"><%= f.text_field :address %></div>
      </div>

      <div class="control-group">
        <%= f.label :introduce, '公司简介', :class => "control-label" %>
        <div class="controls"><%= f.text_area :introduce, :rows => 5 %></div>
      </div>

      <div class="form-actions">
        <%= f.submit '确定', :class => 'btn btn-success' %>
      </div>
  <% end %>
</div>